

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.8);
}

  /* Veneno styles */
.w-nav-item {
    position: relative;
    display: inline-block;
    line-height: normal;
    padding-top: .2rem;  
    padding-bottom: .2rem;  
}



