/* Estilos espècificos de la pagina de bienmvenda */

  :target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
    /*border:1px solid tomato; TEST ONLY*/
  }
  
  .uruk-text{
    color: var(--uruk-navy) !important;
  }
  
  body{
    line-height: 1.8;
  }

  #header img{
    width: 100px;
  }
  
  #main .carousel-inner img{
    max-height: 50vh;
    object-fit: cover;
    filter: grayscale(70%);
  }
  
  #main{
    position: relative; 
  }
  
  #main .overlay{
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    z-index: 1000;
  }
  
  #main .overlay .container, 
  #main .overlay .row {
    height: 100%;
  }
  


/* Footer Styles */
#footer{
    background: var(--uruk-navy-gradient);
  
  }
  #footer a{
    color: white;
  }
  
  /* secondary */
  #secondary .container-fluid .row{
    background-color: #343a40;
    color: white;
  }



/* boton blanco grande */
.btn-w-white{
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: normal;
  
  background-color: white;
  color: rgba(0, 0, 0, 0.9); 
  font-weight: 600;
  
  padding: 1.2rem 2.004rem;
}

/* boton azul generales */
.btn-w-navy{
  background-color: var(--uruk-navy);
  transition: 0.3s;
}

.btn-w-navy:hover{
  filter: opacity(70%);
}

.btn-w-navy a{
  color: white !important;
  font-weight: 500;
}

  /* para header */
  .btn-w-navy-header{ 
    padding-left: .6032rem;
    padding-right: .6032rem;
  }

  /* Para contenidos */
  .btn-w-navy-content{ 
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    color: white !important;
    font-weight: 600;
    padding: 1.2rem 2.004rem;
  }

/* Jumbotron welcome */
#JumboWelcome {
  background-image: url('../images/fin_bg_05.jpeg');
  filter: grayscale(100%);
  background-size: cover;
  height: 50vh;
}


#JumboWelcome div.container-fluid{
  display: flex;
  align-items: center;
  color: white;


  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  height: 100%;
}