html{
  scroll-behavior:smooth;
}

:root {
  --uruk-navy: #174DFF; 
  --uruk-navy-hover: #173aaf; 
  --uruk-cyan: #00ebee;  
  --uruk-light-gray: #f7f7f7;
  --uruk-navy-gradient: linear-gradient(90deg, #173aaf,#173aaf 45%, #174DFF); 
  --red-alert: #ff0000;
}

body {
  font-family: 'Poppins', sans-serif
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

/* fondos */
.bg-light-gray{
  background-color: var(--uruk-light-gray); 
}

/* boxes */
.mainbox{
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  border-radius: 8px;
}

.gradientBox{
  background: var(--uruk-navy-gradient); 
  color: white; 
  border-radius: 15px;
}


/* botones */
.bg-uruk-cyan{
  background-color: var(--uruk-cyan); 
  color: white; 
}
.bg-uruk-navy{
  background-color: var(--uruk-navy);
  color: white; 
}

.bg-uruk-navy:hover{
  background-color: var(--uruk-navy-hover);
  color: white;  
}


/* adjust images */
.w-100{
  width: 100%;
}

/* others */
.label__error{
  line-height: 1.2;
  width: 100%;
  color: var(--red-alert);
  font-size: 0.8rem;
}
